  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .flip {
    position: relative;
  }

  .flip span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #A500FF;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i));
// Perform calculations when specifying CSS
// property values.
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }