body{
    margin: 0;
    display: grid;
    place-items: center;
    background: #ffffff;
}
html , body {
    height: 100%;
}
.loader {
    width: 100px;
    height: 100px;
    border: 3px solid #111111;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffa500;
    width: 34px;
    height: 34px;
    transform: translate(-50%, 50%);
    border-radius: 50%;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 