body{
    margin: 0;
    display: grid;
    place-items: center;
    background: #111111;
    font-family: 'Poppins', sans-serif;
}

html , body {
    height: 100%;  
}

div.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.item {
	color: #ffa500; 
	font-weight:bold; 
	font-size:2em;
    animation-name: focus-in-contract;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
}

@keyframes focus-in-contract {		
	0% {
		letter-spacing:1em;
	    filter:blur(12px);
		opacity:0;
	}
	100% {
    	filter:blur(0);
		opacity:1;
	}
}
